elpa/
/config.el
*~
/smex-items
auto/
/config.pdf
/config.tex
/ido.last
/config.aux
/config.log
/config.out
/config.synctex.gz
personal/
/.org-id-locations
https://github.com/Fuco1/smartparens/wiki/Permissions
url/
games/
/history
/bookmarks
transient/
/custom.el
/elpy/
/newsticker/
/recentf
/org-journal.cache
/network-security.data
/projectile-bookmarks.eld
/org-roam.db
/tramp
